.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.col{
    padding: 20px;
}

body{
    background-color: skyblue;
}


.studentRegistration {
    background: white;
    padding: 22px;
    border-radius: 0px 20px 0px 27px;
}